.form__button {
  width: 358px;
  min-height: 50px;
  padding: 0;
  margin: 15px 36px 36px;
  border: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  background-color: #000;
}

.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.4s;
}

@media screen and (max-width: 550px) {
  .form__button {
    width: 238px;
    min-height: 46px;
    margin: auto;
    font-size: 14px;
    line-height: 17px;
  }
}
