.profile {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 50px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .profile {
    max-width: 600px;
    padding-top: 42px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    max-width: 590px;
  }
}

@media screen and (max-width: 610px) {
  .profile {
    max-width: 282px;
    padding-bottom: 36px;
    flex-direction: column;
  }
}
