.card__button-like {
  width: 22px;
  height: 19px;
  background-color: #fff;
  background-image: url("../../../images/element__button.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  align-self: center;
  padding: 0;
}

.card__button-like:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.4s;
}
