.header {
    max-width: 880px;
    margin: 0 auto;
    padding: 45px 0 41px;
    border-bottom: 1px solid rgba(54, 54, 54, .7);
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .header {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 590px;
    }
}

@media screen and (max-width: 610px) {
    .header {
        max-width: 282px;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 320px;
        padding-top: 28px;
        padding-bottom: 0;
    }
}